
*{
    margin: 0;
    padding: 0;
}
body{
background-color: darkgray;
}
/*seccion navegacion*/
nav div a img{
    width: 200px;
    height: 200px;
    margin-left: 50%;
}
.nav-ul{
    margin-right: 10%;
}
.nav-li{
    font-size: 1.2rem;
    margin-right: 1%;
    background-color: #91abb7;
}
.nav-li-diferent{
    font-size: 1.2rem;
    margin-right: 1%;
    background-color: #91abb7;
    border-radius: 20%;
}
.ul-desplegable{
    background-color: #91abb7;
}
.li-desplegable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*carrusel principal*/
.carruselTamaño{
    height: 80vh;
    width: 100%;
    margin: 0 auto;
}
.imgCarru{
    height: 80vh;
    width: 100%;
}
.tituloCarrusel{
    color: black;
    font-size: 1.5rem;
}
.parrafoCarrusel{
    color: black;
}
/*Seccion body*/
#destacado {
    background-color: #ffffff;
    border: none;
}
#destacado .card {
    border: none;
}

.zindex{
    z-index: 99;
}
.transfor__skew__card1{
    transform: skew(-0.06turn, 15deg) translate(-10px);
}

.transfor__skew__card2{
    transform: skew(0.06turn, -15deg) translate(15px);
}

.transfor__skew__cardW26__uno{
    transform: skew(-15deg) translate(-10px);
}

.transfor__skew__carousel{
    transform: skew(202deg, 180deg) translate(-55px) scaleX(1.1);
}
.img-W26:hover{
    transform: scale(1.05);
    transition: transform 2s;
}

/*seccion footer*/
footer{
    margin-top: 5%;
    padding: 3% 0 3% 0;
    background-color: #91abb7;
}
.divFooterContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.flexElementFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titFooter{
    font-size: 1.4rem;
}
.icono{
    height: 20px;
    width: 20px;
}